.vote-candidate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-wrapper {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 9px 10px 118px 8px rgba(199, 199, 199, 0.75);
    -webkit-box-shadow: 9px 10px 118px 8px rgba(199, 199, 199, 0.75);
    -moz-box-shadow: 9px 10px 118px 8px rgba(199, 199, 199, 0.75);
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
    }

    span {
      margin-top: 0.5rem;
      font-weight: bold;
    }

    img {
      width: 5rem;
      height: 5rem;
      object-fit: cover;
      object-position: center center;
    }
  }

  &__warpper {
    font-size: 1.5rem;
    direction: ltr;
    display: flex;
    justify-content: center;
  }

  &__countdown {
    position: relative;
    margin-right: 0.5em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    &:not(:last-child)::after {
      content: ":";
      top: 50%;
      right: -0.3rem;
      position: absolute;
      transform: translate(100%, -80%);
    }

    :last-child {
      font-size: 0.8rem;
    }
  }

  &__message {
    padding: 1rem;
    background: #42b883;
    border-radius: 12px;
    color: white;
    text-align: center;
    font-size: 1.5rem;
  }

  &__info {
    color: #42b883;
    font-weight: bold;
    font-size: 1.5rem;
  }
}
